.act_container {
  background-color: #e04d03;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  img {
    opacity: 0.2;
    top: 0;
    height: inherit;
    overflow: hidden;
    position: absolute;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    color: #faf1e9;
    z-index: 2;
    margin-left: 1.5rem;
    margin-right: 2rem;

    text-transform: uppercase;
  }

  .detail {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 100px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #06f145;
  }

  .Midgard {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #06f145;
  }

  .Jotunheim {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #fffd41;
  }

  .Vanaheim {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #41ffff;
  }

  .time {
    display: flex;
    color: #faf1e9;
    z-index: 2;

    p {
      display: flex;
      gap: 4px;
      margin-right: 1rem;
      text-transform: uppercase;
      margin-left: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
}

@media (max-width: 800px) {
  .act_container {
    margin-top: 95px;
    width: 100%;
    aspect-ratio: 16/4;

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 0.6rem;
    }
  }
}
