.act_container {
  background-color: #e04d03;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  h2 {
    color: #faf1e9;
    z-index: 2;
    margin-left: 1.5rem;
    margin-right: 2rem;

    text-transform: uppercase;
  }

  .detail {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #06f145;
  }

  .Midgard {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #06f145;
  }

  .Jotunheim {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #fffd41;
  }

  .Vanaheim {
    position: absolute;
    top: 0;
    right: 0;
    // z-index: 2;
    border-radius: 15px;
    margin: 0.5rem;
    height: 60%;
    width: 5%;
    background-color: #41ffff;
  }

  .time {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
    color: #faf1e9;
    z-index: 2;
    p {
      margin-right: 1rem;
      text-transform: uppercase;
    }
  }
}
