.basket {
  position: fixed;
  top: 150px;
  right: 0;
  background-color: #510926;
  color: antiquewhite;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  ul {
    list-style: none;
  }
}
