.basket {
  position: fixed;
  top: 150px;
  right: 0;
  background-color: #510926;
  color: antiquewhite;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    align-self: center;
  }
  ul {
    list-style: none;
    line-height: 1.75rem;
  }
}
