.basket {
  position: fixed;
  backdrop-filter: blur(15px);
  z-index: 1;
  top: 150px;
  right: 0px;
  min-width: 17vw;
  border: 1px solid #510926;
  border-right: none;
  color: #510926;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    align-self: center;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  h4 {
    font-weight: bold;
    font-size: 0.9rem;
  }
  ul {
    list-style: none;
    line-height: 1.75rem;
     margin-top: 0.2rem;
      margin-bottom: 0.5rem;
      li{
           display: flex;
    
      }
  }

  p{
     margin-top: 0.2rem;
      margin-bottom: 0.5rem;
  }

}

.fat{
      font-weight: bolder;
     margin-right: 1rem;
    }

 
.small{
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.basketTimer {
    text-align: center;
  }


//desktop   
@media (min-width: 900px){
.basket{
    h3:last-of-type{
     border-top: 1px solid #510926;
     padding-top: 1rem;
    }}
}

//Mobil
@media (max-width: 900px) {
    .basket {
    line-height: 2rem;
    display: flex;
    border-bottom: none;
    border-left: none;
    backdrop-filter: blur(60px);
    border-right: none;
    position: sticky;
    bottom: 0;
    width: 100vw;
    height: 220px;


    h3 {
      line-height: 0;
      padding: 0;
      padding-top: 1rem;
      font-size: 1rem;
    }

    h3:last-of-type{
      font-size: 1.3rem;
      padding: 0;
    }
    
  }
  
  .mobileBasket {
    display: flex;
    gap: 13px;
    justify-content: center;
    border-bottom:1px solid #510926;
    margin-bottom: 1rem;
  }
  .basketTimer {
    text-align: center;
  }

}