.bodybody {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    text-align: center;
    // padding: 3rem;
    font-size: 5rem;
  }
}

.bodybody > h3 {
  text-align: center;
  padding-bottom: 4rem;
  color: #510226;
}

.booking_bg {
  background-image: url("/booking.webp");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}
