.campingSection {
  .campingspot {
    background-color: #510926;
    // border-radius: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    padding: 1rem;
    color: #fae3cc;
    cursor: pointer;
    line-height: 1.5rem;
    letter-spacing: 2px;
  }

  .fullybooked {
    color: rgb(19, 19, 19);
    border-radius: 20px;
    border: 1px solid rgb(19, 19, 19);
    .campingspot {
      background-color: lightgray;
      color: rgb(19, 19, 19);
    }
    .available {
      border-bottom: 0px solid #510926;
      border-left: 0px solid #510926;
      border-right: 0px solid #510926;
      border-top: 1px solid rgb(19, 19, 19);
      background-color: rgb(230, 230, 230);
    }
    &:hover {
      transform: scale(1);
    }
  }

  .campingspotwrapper {
    overflow: hidden;
    &:hover {
      transform: scale(1.05);
    }
  }
}

.available {
  background-color: transparent;
  border-bottom: 1px solid #510926;
  border-left: 1px solid #510926;
  border-right: 1px solid #510926;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1rem;
}

.camping-wrapper {
  text-align: center;
  .campingspot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 2rem;
    justify-content: center;
  }
}

.camping-wrapper > p {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .ticketholder {
    border-top: 1px solid #510927;
    border-bottom: 1px solid #510927;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
  .campingSection {
    .campingspot {
      width: 170px;
    }
    .campingspot:focus {
      background: -webkit-linear-gradient(#41ffff, #fffd41);
      color: #510926;
    }
  }
}

.pickedCamping {
  background: -webkit-linear-gradient(#41ffff, #fffd41);
  color: #510926;
  border-radius: 20px;
}
