.campingspot {
  background-color: #510926;
  border-radius: 25px;
  padding: 1rem;
  color: #fae3cc;
  cursor: pointer;
  line-height: 1.5rem;
  letter-spacing: 2px;

  &:hover {
    transform: scale(1.05);
  }
}

.fullybooked {
  background-color: lightgray;
  color: black;
  &:hover {
    transform: scale(1.05);
  }
}

.camping-wrapper {
  text-align: center;
  .campingspot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 2rem;
  }
}

.camping-wrapper > p {
  padding-bottom: 1.5rem;
}

.pickedCamping {
  background: -webkit-linear-gradient(#41ffff, #fffd41);
  color: #510926;
}
