.campingspot {
  background-color: #510926;
  border-radius: 25px;
  padding: 1rem;
  color: antiquewhite;
  cursor: pointer;
  line-height: 1.5rem;
  letter-spacing: 2px;

  &:hover {
    transform: scale(1.05);
  }
}

.fullybooked {
  background-color: lightgray;
  color: black;
  &:hover {
    transform: scale(1.05);
  }
}

.camping-wrapper {
  display: flex;
  flex-direction: column;
  .campingspot-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
