.extra-placement {
  display: flex;
  justify-content: center;
  .optionals {
    padding: 2rem;
  }
}

section {
  #greenchoice {
    padding-bottom: 3rem;
  }
  .extra {
    border-radius: 20px;
    padding-bottom: 2rem;
    text-align: center;
    .border {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border: 1px solid #510926;
      border-radius: 20px;
      overflow: hidden;
    }

    .red {
      background-color: #510926;
      color: white;
      padding: 1.5rem;
    }

    .orange {
      background-color: #fae3cc;
      color: #510926;
      padding: 1.5rem;
    }

    .white {
      background-color: transparent;
      color: #510926;
      padding: 1.5rem;
      border-radius: 19px;
    }
  }
  #twoperstent > div:first-of-type {
    grid-column: 1/2;
  }
}

.extrabox {
  // border: 1px solid #510926;
  // border-radius: 20px;
  padding: 1rem;
  color: #510926;
  width: 830px;
  display: flex;
  flex-direction: column;
  h3 {
    place-self: center;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 740px;
  padding-top: 0.5rem;
  gap: 20px;
  span {
    font-size: 1.2rem;
  }
  .counterBtn {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 10px;
    background-color: #fae3cc;
    &:hover {
      background-color: #510926;
      color: #fae3cc;
    }
  }
}

@media only screen and (max-width: 850px) {
  .extrabox {
    border-radius: 0px;
    width: unset;
    .counter {
      max-width: none;
      margin-top: 0.5rem;
      .counterBtn {
        width: 50px;
        height: 50px;
        background-color: #fae3cc;
        &:hover {
          background-color: #510926;
          color: #fae3cc;
        }
      }
    }
  }
  .extra-placement {
    .optionals {
      padding: unset;
    }
  }
}
