.footer {
  border-top: 1px solid #fae3cc;
  border-right: 1px solid #fae3cc;
  border-top-right-radius: 50px;
  height: 20%;
  margin-top: 20vh;
  margin-right: 2rem;
  padding-bottom: 2rem;
  color: #510926;

  a {
    color: #510926;
  }

  article {
    padding: 1.5rem;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }
  }

  svg {
    margin-right: 1rem;
  }

  .placering {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
  article {
    text-align: center;
  }
}

@media (min-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    article {
      padding: 3rem;
    }

    .placering {
      grid-column: 5 / 6;
    }

    .logo2 {
      height: 150px;
      width: 150px;
      border-radius: 100px;
      margin: 2rem;
      background: rgb(251, 135, 49);
      background: linear-gradient(
        207deg,
        rgba(251, 135, 49, 1) 0%,
        rgba(172, 73, 100, 1) 82%,
        rgba(111, 4, 66, 1) 100%
      );
      animation: rotation 5s infinite linear;
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
  }
}
