.hero {
  overflow: hidden;
  z-index: -1;
  height: 100%;
  width: 100vw;
  // position: relative;
  background: rgb(251, 135, 49);
  background: linear-gradient(
    0deg,
    rgba(251, 135, 49, 1) 0%,
    rgba(254, 249, 241, 1) 100%
  );

  @keyframes bannermove {
    0% {
      transform: translate3d(calc(-100% - 4rem), 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  .date_wrapper {
    width: 50px;
    // top: 90vh;
    // left: 0;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;

    .date {
      transform: rotate(90deg);
      white-space: nowrap;

      .date_animate {
        animation: bannermove 3s linear infinite;
        gap: 4rem;
        display: flex;
        width: 100%;

        h2 {
          // transform: rotate(90deg);
          color: #510926;
        }
      }
    }
  }
  .frontpage_txt {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      display: flex;
      flex-direction: column;
      font-size: 6rem;
      line-height: 0.8;
    }
  }

  .frontpage_bg {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .frontpage_picture {
    grid-column: 2;
    opacity: 0.5;
    background-image: url("/scene.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  z-index: 2;

  article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ticketsLink {
    background-color: #510926;
    color: #fef0e0;
  }

  .scheduleLink {
    background-color: #fef0e0;
    color: #510926;
  }

  a:hover {
    transition: 0.3s;
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(to right, #40e259, #fffd41) 1;

    h2 {
      transition: 0.3s;

      text-shadow: 3px 3px #41ffff;
      transform: scale(1.1);
    }
  }
}
