@use "./Tickettype.module.scss";
@use "./PaymentForm.module.scss";
@use "./Campingspot.module.scss";
@use "./Extras.module.scss";
@use "./Ticketholder.module.scss";
@use "./Basket.module.scss";
@use "./Act.module.scss";
@use "./Schedule.module.scss";
@use "./BookingSite.module.scss";
@use "./Tickets.module.scss";
@use "./Header.module.scss";
@use "./Frontpage.module.scss";
@use "./Footer.module.scss";
@use "./Artist.module.scss";
@use "./ThankYouSite.module.scss";
@use "./Ticker.module.scss";

$darkred-color: #510926;
$orange-color: rgb(251, 135, 49);
$light-color: rgba(254, 240, 224);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $light-color;
  background: linear-gradient(16deg, $orange-color 0%, $light-color 100%);
}

img {
  width: 100%;
}

h1, h2, h3 {
  color: $darkred-color;
}

a {
  text-decoration: none;
}

button {
  text-transform: uppercase;
  border: 1px solid $darkred-color;
  border-radius: 5px;
  padding: 0.7rem;
  color: $darkred-color;
  background-color: transparent;
  // max-width: fit-content;
}

button:hover,
a:hover {
  cursor: pointer;
}

input::placeholder {
    color: #51092660;
}

.continueBtn {
  align-self: center;
  width: 150px;
  background-color: $darkred-color;
  color: #fae3cc;
  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  p,
  li {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 700px) {
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  p {
    line-height: 1.5rem;
  }
}
