.nav {
  position: fixed;
  backdrop-filter: blur(15px);
  background-blend-mode: lighten;
  height: 95px;
  width: 95%;
  margin-left: 2rem;
  top: 0;
  right: 0;
  border-bottom: 1px solid rgba(111, 4, 66, 1);
  border-left: 1px solid rgba(111, 4, 66, 1);
  border-bottom-left-radius: 50px;
  // border-radius: 0px 0px 0px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  button {
    // border: 1px solid rgba(111, 4, 66, 1);
    // border-color: none none none none;
    // border-radius: 0px 0px 0px 50px;
    border-bottom: 1px solid rgba(111, 4, 66, 1);
    border-left: 1px solid rgba(111, 4, 66, 1);
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;

    padding-left: 3rem;
    padding-right: 3rem;
  }

  button:hover {
    transition: 0.5s;
    background: -webkit-linear-gradient(#41ffff, #fffd41);
  }

  //planet-logo
  .logo {
    z-index: 1001;
    top: 35px;
    left: -15px;
    position: fixed;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: rgb(251, 135, 49);
    background: linear-gradient(
      207deg,
      rgba(251, 135, 49, 1) 0%,
      rgba(172, 73, 100, 1) 82%,
      rgba(111, 4, 66, 1) 100%
    );
    animation: rotation 5s infinite linear;
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }

  .menu_overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(251, 136, 49, 0.485);

    .menu {
      background-color: #fdf8f0;
      border-bottom: 1px solid rgba(111, 4, 66, 1);
      border-left: 1px solid rgba(111, 4, 66, 1);
      border-right: none;
      border-top: none;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      position: absolute;
      height: 100vh;
      width: 50vw;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;
        line-height: 4rem;

        a {
          -webkit-text-stroke: 1px rgba(111, 4, 66, 1);
          text-stroke: 1px rgba(111, 4, 66, 1);
          color: rgba(111, 4, 66, 0);
          margin-bottom: 2rem;
          font-size: 5rem;
        }

        a:hover {
          transition: 0.8s;
          background: -webkit-linear-gradient(#41ffff, #fffd41);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          // color: rgba(111, 4, 66, 1);
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .nav {
    .menu_overlay {
      .menu {
        width: 75vw;
        li {
          a {
            font-size: 3rem;
          }
        }
      }
    }

    button {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .logo {
      top: 50px;
      left: -5px;
      position: fixed;
      height: 50px;
      width: 50px;
      border-radius: 50px;
    }
  }
}
