.nav {
  position: fixed;
  backdrop-filter: blur(15px);
  // background-color: #fdf8f0;
  height: 95px;
  width: 95%;
  margin-left: 2rem;
  top: 0;
  right: 0;
  border: 1px solid rgba(111, 4, 66, 1);
  border-radius: 0px 0px 0px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  button {
    border: 1px solid;
    border-color: none none none none;
    border-radius: 0px 0px 0px 50px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  //planet-logo
  .logo {
    z-index: 1001;
    top: 40px;
    position: fixed;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: rgb(251, 135, 49);
    background: linear-gradient(
      207deg,
      rgba(251, 135, 49, 1) 0%,
      rgba(172, 73, 100, 1) 82%,
      rgba(111, 4, 66, 1) 100%
    );
    animation: rotation 5s infinite linear;
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
  .menu_overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(251, 136, 49, 0.485);

    .menu {
      background-color: #fdf8f0;
      border: 1px solid rgba(111, 4, 66, 1);
      border-radius: 0px 0px 0px 50px;
      position: absolute;
      height: 100vh;
      width: 50vw;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        list-style: none;

        a {
          -webkit-text-stroke: 1px rgba(111, 4, 66, 1);
          text-stroke: 1px rgba(111, 4, 66, 1);
          color: rgba(111, 4, 66, 0);
          margin-bottom: 2rem;
          font-size: 5rem;
        }

        a:hover {
          transition: 0.3s;
          color: rgba(111, 4, 66, 1);
        }
      }
    }
  }
}
