nav {
  position: fixed;
  background-color: #fdf8f0;
  height: 95px;
  width: 95%;
  margin-left: 2rem;
  top: 0;
  right: 0;
  border: 1px solid rgba(111, 4, 66, 1);
  border-radius: 0px 0px 0px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  button {
    border: 1px solid;
    border-color: none none none none;
    border-radius: 0px 0px 0px 50px;
    width: 500px;
  }

  //planet-logo
  .logo {
    z-index: 1001;
    top: 40px;
    left: 3%;
    position: fixed;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: rgb(251, 135, 49);
    background: linear-gradient(
      207deg,
      rgba(251, 135, 49, 1) 0%,
      rgba(172, 73, 100, 1) 82%,
      rgba(111, 4, 66, 1) 100%
    );
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(111, 4, 66, 1);
  content: "MENU" !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  right: 0 !important;
}

/* General sidebar styles */
.bm-menu {
  //   background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  right: 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
