#paymentform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin: 3rem; 
 max-width: 800px; 
	margin: 0 auto !important; 
	float: none !important; 

  .forms {
    display: flex;
    flex-direction: column;
    gap: 10%;

    form label {
  display: contents;

}

input:invalid {
  background-color: rgb(250, 144, 144);
}

input:valid {
  background-color: rgb(182, 235, 182);
}

html,
body {
  height: 70%;
}

body {
  display: grid;
  place-items: center;
}

input {
  border-width: 1px;
border: 1px solid #510927;
  border-radius: 7px;
// background-color: transparent;
  height: 40px;
  padding:8px;
}

    label {
      display: flex;
      flex-direction: column;
    
    }
  }
}

.flexit{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  label{
    width: 110px;
  }
}


