.schedule {
  position: relative;
  display: grid;
  top: 0;
  grid-template-columns: 1fr 1fr;

  .schedule_bg {
    background-image: url("/schedule.webp");
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    height: 80%;
    width: 50vw;
    position: fixed;
    // bottom: 10%;
    top: 0;
    left: 0;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }
  .schedule_txt {
    position: sticky;
    height: 100vh;
    padding-bottom: 10%;
    top: 1px;
    width: 50vw;
  }
  h1 {
    margin-top: 10rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    text-align: center;
    padding: 0 4rem 4rem 4rem;
  }

  .schedule_container {
    background: rgb(65, 255, 255);
    background: linear-gradient(
      148deg,
      rgba(65, 255, 255, 1) 0%,
      rgba(255, 253, 65, 1) 100%
    );
    grid-column: 2 / 3;
    padding: 1rem;
    padding-top: 95px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  fieldset {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    border: none;
    margin-top: 1rem;
    gap: 5px;

    legend {
      margin-bottom: 0.5rem;
    }

    button {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.353);
      &:hover {
        background: -webkit-linear-gradient(#41ffff, #fffd41);
      }

      &:focus {
        font-style: italic;
        border: 3px solid;
        border-radius: 5px;
        border-image: linear-gradient(to right, #41ffff, #fffd41) 1;
      }
    }
  }
}

@media (max-width: 700px) {
  .schedule {
    h1 {
      margin-top: 60%;
      font-size: 2rem;
    }
    p {
      padding: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .schedule_container {
      margin-top: 7%;
      width: 50vw;
      padding: 0;
      padding-top: 0;
    }
    fieldset {
      flex-wrap: wrap;
      padding-right: 1rem;
      padding-left: 1rem;
      legend {
        font-size: 0.7rem;
      }
      button {
        padding: 0;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
        font-size: 0.6rem;
        width: 75px;
        height: 13px;
      }
    }
  }
}
