.ticketholder {
  border: 1px solid #510927;
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 826px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);

  section {
    padding-bottom: 2rem;
  }
}

.ticketholder > h3 {
  padding-top: 2rem;
  text-align: center;
}

.around {
  display: flex;
  justify-content: center;
  color: #510927;
}

@media only screen and (max-width: 600px) {
  .ticketholder {
    border-top: 1px solid #510927;
    border-bottom: 1px solid #510927;
    border-left: none;
    border-right: none;
    border-radius: 0px;
  }
}
