#ticketholderform {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  label {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
  }

  input {
    border-width: 1px;
    border-radius: 7px;
    height: 40px;
    padding: 8px;
    margin: 0.2rem;
    border: 1px solid #510927;
    background-color: transparent;
  }

  .submitBtn {
    width: 150px;
    align-self: end;
    margin-right: 0.7rem;
    background-color: #fae2cc;
    &:hover {
      transition: 0.5s;
      background: -webkit-linear-gradient(#41ffff, #fffd41);
      font-style: italic;
    }
    &:focus {
      border: 3px solid;
      border-color: #510927;
      outline: none;
    }
  }

  //danny kode
  //////////////////////////////////
  input:valid {
    border-color: #59b062;
  }

  input:invalid:not(:placeholder-shown, :focus) {
    animation: shake 0.125s 2 backwards;
    border: 1px solid rgb(235, 82, 82);
  }

  @keyframes shake {
    25% {
      transform: translateX(-6px);
    }
    75% {
      transform: translateX(6px);
    }
  }

  input:invalid:not(:placeholder-shown, :focus) + .error {
    max-height: 2rem;
  }

  .error {
    color: rgb(148, 37, 59);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s max-height;
  }

  // form > * + *,
  // fieldset > * + *:not(.address) {
  //   margin-top: 1.5rem;
  // }

  input {
    color: #510927;
    border: 1px solid #510927;
    outline: none;
  }

  input:focus {
    border: 3px solid;
    border-color: #510927;
    background-color: #fae2cc;
  }

  //////////////////////////////////////
}

.thankyou {
  margin: 3rem;
}

.formticketholder {
  padding: 2rem;
  h3 {
    text-align: center;
  }
}
