.ticketholder {
  border: 1px solid #510927;
  border-radius: 20px;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 826px;
  display: flex;
  flex-direction: column;
  section {
    padding-bottom: 2rem;
  }
}

.around {
  display: flex;
  justify-content: center;
  color: #510927;
}
