section {
  .ticket {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 740px;
      padding-top: 0.5rem;
      gap: 20px;
      span {
        font-size: 1.2rem;
      }
      .counterBtn {
        width: 35px;
        height: 35px;
        padding: 0rem;
        background-color: #fae3cc;
        border-radius: 10px;
        &:hover {
          background-color: #510926;
          color: #fae3cc;
        }
      }
    }
  }

  .extra-heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #510926;
  }

  .border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #510926;
    border-radius: 20px;
    overflow: hidden;
    background: #fae3cc61;

    .gold {
      background-image: url(../public/goldTicket.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #510926;
      color: white;
      padding: 1.5rem;
    }

    .cobber {
      background-image: url(../public/cobberTicket.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #510926;
      color: white;
      padding: 1.5rem;
    }

    .orange {
      background-color: #fae3cc;
      color: #510926;
      padding: 1.5rem;
    }

    .white {
      background-color: transparent;
      color: #510926;
      padding: 1.5rem;
      border-radius: 20px;
    }
  }
}

@media only screen and (max-width: 850px) {
  section {
    .ticket {
      padding: 2rem 0;
      .counter {
        max-width: none;
        margin-top: 0.5rem;
        .counterBtn {
          width: 50px;
          height: 50px;
          background-color: #fae3cc;
        }
      }
    }
  }
}
