section {
  .ticket {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 250px;
      padding-top: 0.5rem;
      gap: 20px;
      span {
        font-size: 1.2rem;
      }
      .counterBtn {
        width: 25px;
        height: 25px;
        padding: 0;
        &:hover {
          background-color: #510926;
          color: #fae3cc;
        }
      }
    }
  }

  .extra-heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5rem;
    text-align: center;
    color: #510926;
  }

  .border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #510926;
    border-radius: 20px;
    overflow: hidden;
    background: #fae3cc61;

    .gold {
      background-image: url(../public/goldTicket.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // background-color: #510926;
      color: white;
      padding: 1.5rem;
      border-radius: 19px;
    }

    .cobber {
      background-image: url(../public/cobberTicket.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // background-color: #510926;
      color: white;
      padding: 1.5rem;
      border-radius: 19px;
    }

    .orange {
      background-color: #fae3cc;
      color: #510926;
      padding: 1.5rem;
      border-radius: 20px;
    }

    .white {
      background-color: transparent;
      color: #510926;
      padding: 1.5rem;
      border-radius: 20px;
    }
  }
}
