.ticketholder{
    // max-width: 70%;
    border: 1px solid #510927;
    border-radius: 20px;
        margin-bottom: 2rem;
        padding: 1rem;
        // display: flex;
        // flex-direction: column;
        // justify-items: center;
}

.around{
display: flex;

    justify-content: center;

}