$primary-color: #123456;
$background-color: linear-gradient(
  45deg,
  rgba(251, 135, 41, 1) 0%,
  rgba(255, 252, 244, 1) 75%,
  rgba(250, 240, 232, 1) 100%
);

:export {
  primaryColor: $primary-color;
  backgroundColor: $background-color;
}
